body {
    font-family: sans-serif;
    text-align: center;
  }

h1 {
  font-size: 70PX;
}
  .style {
    padding: 10px;
    font-size: 38px;
    margin: 17px;
  }

  #rentalForm {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 550px;
  }

  .okno {
    font-size: 25px;
    height: 40px;
    width: 420px;
  }

  .btn {
    margin: 20px;
    font-size: 40px;
  }

  #result {
    margin-top: 20px;
    font-size: 1.2em;
    font-size: 40px;
  }
  